<div class="container">
  <div class="content-inner">
  <h3>Daily Work Entry</h3>
  <form>
    <div class="form-row daily-date">
      <div class="col-6">
        <label>Date</label>
        <input type="date" class="form-control" id="date">
      </div>
    </div>
    <div class="form-row">
      <div class="col-3">
        <label>AAA Paid Calls Sac</label>
        <input type="text" class="form-control" placeholder="AAA Paid Calls Sac" id="aaaSac">
      </div>
      <div class="col-3">
        <label>AAA Paid Calls Yuba</label>
        <input type="text" class="form-control" placeholder="AAA Paid Calls Sac" id="aaaYuba">
      </div>
      <div class="col-3">
        <label>RT Over 90</label>
        <input type="text" class="form-control" placeholder="Over 90 RT" id="over90">
      </div>
      <div class="col-3">
        <label>Missing On Location</label>
        <input type="text" class="form-control" placeholder="over 90" id="missing">
      </div>
    </div>
    <div class="form-row">
      <div class="col-3">
        <label>AAA Revinue Sac</label>
        <input type="text" class="form-control" placeholder="Goal $4500" id="revSac">
      </div>
      <div class="col-3">
        <label>AAA Revinue Yuba</label>
        <input type="text" class="form-control" placeholder="Goal $4500" id="revYuba">
      </div>
      <div class="col-3">
        <label>Non AAA Revinue Sac</label>
        <input type="text" class="form-control" placeholder="Non AAA Revinue Sac" id="nonaaaSac">
      </div>
      <div class="col-3">
        <label>Non AAA Revinue Yuba</label>
        <input type="text" class="form-control" placeholder="Non AAA Revinue Yuba" id="nonaaayuba">
      </div>
    </div>
    <div class="form-row">
      <div class="col-3">
        <label>Battery Sales Sac</label>
        <input type="text" class="form-control" placeholder="Goal $1500" id="batterySac">
      </div>
      <div class="col-3">
        <label>Battery Sales Yuba</label>
        <input type="text" class="form-control" placeholder="Goal $1500" id="batteryYuba">
      </div>
      <div class="col-3">
        <label>Storage Sac</label>
        <input type="text" class="form-control" placeholder="Goal $250" id="storageSac">
      </div>
      <div class="col-3">
        <label>Storage Yuba</label>
        <input type="text" class="form-control" placeholder="Goal $500" id="storageYuba">
      </div>
    </div>
    <div class="form-row">
      <div class="col-3">
        <label>PD Calls Sac</label>
        <input type="text" class="form-control" placeholder="Goal 2" id="pdSac">
      </div>
      <div class="col-3">
        <label>PD Calls Yuba</label>
        <input type="text" class="form-control" placeholder="Goal 2" id="pdYuba">
      </div>
      <div class="col-3">
        <label>Shop Calls Sac</label>
        <input type="text" class="form-control" placeholder="Goal 5" id="shopSac">
      </div>
      <div class="col-3">
        <label>Storage Yuba</label>
        <input type="text" class="form-control" placeholder="Goal 2" id="shopYuba">
      </div>
    </div>
    <div class="form-row">
      <div class="col-3">
        <label>Drivers on Duty</label>
        <input type="text" class="form-control" placeholder="--" id="driversDuty">
      </div>
      <div class="col-3">
        <label>Regular Hours</label>
        <input type="text" class="form-control" placeholder="--" id="regularHours">
      </div>
      <div class="col-3">
        <label>OT Hours</label>
        <input type="text" class="form-control" placeholder="--" id="otHours">
      </div>
      <div class="col-3">
        <label>Daily Truck Miles</label>
        <input type="text" class="form-control" placeholder="--" id="miles">
      </div>
    </div>
    <div class="form-row">
      <div class="col-3">
        <label>Battery Installs Sac</label>
        <input type="text" class="form-control" placeholder="10" id="sacBatInstalls">
      </div>
      <div class="col-3">
        <label>Battery Installs Yuba</label>
        <input type="text" class="form-control" placeholder="10" id="yubaBatInstalls">
      </div>
      <div class="col-3">
        <label>Driver Errors</label>
        <input type="text" class="form-control" placeholder="--" id="driverErrors">
      </div>
      <div class="col-3">
        <label>Dispatch Errors</label>
        <input type="text" class="form-control" placeholder="--" id="dispErrors">
      </div>
    </div>
    <div class="form-row">
      <div class="col-3">
        <label>No Triag</label>
        <input type="text" class="form-control" placeholder="--" id="triag">
      </div>
      <div class="col-3">
        <label>No Update</label>
        <input type="text" class="form-control" placeholder="--" id="noUpdate">
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary" id="dailySubmit">Submit Daily Work</button>
    <br>
    <br>
  </form>
</div>
</div>