<div class="container">
  <h2>Driver Stats Update Page</h2>

  <form>
    <label for="">Sac Cps</label>
    <input type="text" id="sac_cps"><br>
    <label for="">Sac Overall Sat</label>
    <input type="text" id="sac_overall"><br>
    <label for="">Sac Driver Sat</label>
    <input type="text" id="sac_driver"><br>
    <label for="">Sac Responce Sat</label>
    <input type="text" id="sac_responce">
    <hr>
    <label for="">Yuba Cps</label>
    <input type="text" id="yuba_cps"><br>
    <label for="">Yuba Overall Sat</label>
    <input type="text" id="yuba_overall"><br>
    <label for="">Yuba Driver Sat</label>
    <input type="text" id="yuba_driver"><br>
    <label for="">Yuba Responce Sat</label>
    <input type="text" id="yuba_responce"><hr>

    <button class="btn btn-danger" type="submit" id="driverSatsubmit">Submit</button><br>
  </form>
</div>