<script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBtoGIcl6BENCMn4a8uRBQZIcikId4qpH4",
    authDomain: "towduck-32f1d.firebaseapp.com",
    databaseURL: "https://towduck-32f1d.firebaseio.com",
    projectId: "towduck-32f1d",
    storageBucket: "towduck-32f1d.appspot.com",
    messagingSenderId: "574933798553"
  };
  firebase.initializeApp(config);
</script>

<div class="container">
  <h3>login please</h3>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button id="login" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>



<div id="modal">
  <div id="modal-content">
    <button id="close">&times;</button>
    <div id="auth">
      placegolder text
    </div>

  </div>

</div>