<div class="container">
  <h3>Drivers Vehicle inspection Report</h3>
  <h5>Golden State Towing</h5>
  <p>5916 Auburn Blvd Citrus Heights CA, 95621</p>
  <form>
    <div class="form-row">
      <div class="col-4">
        <label>Driver</label>
        <input type="text" class="form-control" placeholder="Driver">
      </div>
      <div class="col-4">
        <label>Date</label>
        <input type="date" class="form-control" placeholder="Date">
      </div>
      <div class="col-4">
        <label>Time</label>
        <input type="time" class="form-control">
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-6">
        <label>Truck Number</label>
        <input type="text"  id="truckNum" class="form-control" placeholder="Truck number">
      </div>
      <div class="col-6">
        <label>Odom</label>
        <input type="text" id="odom" class="form-control" placeholder="current millage">
      </div>

    </div>
    <br>
    {{!-- row 2 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="air_compressor">
          <option selected>Air Compressor</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="air_lines">
          <option selected>air lines</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="battery">
          <option selected>Battery</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 3 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="belts_hoses">
          <option selected>Belts and Hoses</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="body">
          <option selected>Body</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="brake-assory">
          <option selected>Brake Accessories</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 4 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="parking_brake">
          <option selected>Parking Brake</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="service_brake">
          <option selected>Service Brake</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="clutch">
          <option selected>Clutch</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 5 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="heater">
          <option selected>Defroster Heater</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="driveLine">
          <option selected>Drive Line</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="engine">
          <option selected>Engine</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 6 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="exhaust">
          <option selected>Exhaust</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="fluid_level">
          <option selected>Fluid levels</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="frame">
          <option selected>Frame and Assembly</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 7 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="front_axle">
          <option selected>Front Axle</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="fuel_tank">
          <option selected>Fuel Tanks</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="horn">
          <option selected>Horn</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 8 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="head_stop">
          <option selected>Head / Stop lamps</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="tail_dash">
          <option selected>tail / Dash Lamps</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="turn-ind">
          <option selected>Turn Indicators</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 9 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="clearance">
          <option selected>Clearance Lights</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="mirrors">
          <option selected>Mirrors</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="oil_psi">
          <option selected>Oil PSI</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 10 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="radiator">
          <option selected>Radiator</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="rear_end">
          <option selected>Rear End</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="reflectors">
          <option selected>Reflectors</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 11 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="fire_ext">
          <option selected>Fire Extinguisher</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="cones">
          <option selected>Traffic Cones</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="triangles">
          <option selected>Reflective Triangles</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 12 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="starter">
          <option selected>Starter</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="steering">
          <option selected>Steering</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="suspension">
          <option selected>Suspension System</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 13 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="tires">
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="trans">
          <option selected>Transmission</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="wheels">
          <option selected>Wheels and Rims</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <br>
    {{!-- row 14 --}}
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="windows">
          <option selected>Windows</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="wipers">
          <option selected>Winshield wipers</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="radio">
          <option selected>Shop Radio</option>
          <option value="good">Good</option>
          <option value="deff">Deffective</option>
          <option value="n/a">N/A</option>
        </select>
      </div>
    </div>
    <hr>
    <textarea class="form-control" aria-label="With textarea" placeholder="remarks"></textarea>
    <hr>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        CONDITION OF THE ABOVE VEHICLE IS SATISFACTORY
        <BR>
        <hr>
        <button type="submit" class="btn btn-primary" id="preTripSubmit">Submit Pre Trip</button>
        </BR>
      </label>
    </div>
  </form>
</div>
