<div class="container">

    <br>
    <h1>Towductivity</h1>
    <hr>

    <h4>Letting the Power of Productivity Drive Profitability</h4>
    <hr>
  <img src="./styles/assets/profit2.jpeg" alt="">
  

 <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
<br>
    
</div>
   
 
