.list-group-item {
  line-height: 2.5;
}

body, html {
  height: 100%;
  background-color: darkgrey;
}



#duck{
  float: left;
  margin: 20px;
  height: 150px;
}

.container-inner {
  text-align: center;
  padding: 10px;
}

.container {
  text-align: center;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
}

#nav {
  margin-left: 8.8%;
  padding: 0;
  align-content: center;
  text-align: center;
}

.daily-date {
  margin-left: 30%;
}

input {
  text-align: center;
}

/* charts */
#main{
  padding:20px;
  background-color: #EEF;
  height: 100%;
  /* position:absolute; */
  width: 100%;
}

table{
  /* background-color: #fff; */
}

li {
  margin-top: 5px;
}

.chart{
  min-height:200px;
}

td {
  background-color: lightgray;
  margin-left: 20px;
  padding-left: 20px;
  margin-right: auto;
}

#curve_chart {
  background-color: lightgray;
  margin: 20px;
}

.container-databox {
  background-color: lightblue;
  text-align: center;
  padding-bottom: 30px;
}

.col-sm {
  border: 1px solid black;
  width: 200px;
  margin: 5px;
  float: left;
}

#sacscoressac {
  float: left;
}

.row-1 {
  float: left;
  margin-right: 0px;
}

.sac_lable {
  float: left;
  margin-left: 100px;
}

.yuba_lable {
  float: clear;
  margin-left: 500px;
}

.navbar {
  margin: 0;
}
/* ===============================  login modal */
